<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url  %>
      Tags:  <% unless link.tag[0] == nil %><%= link.tag[0].name %><%end%>
    </li>
  <% end %>
</ul>
