<h1> New Link </h1>

<form method="POST" action="/links">
  <label for='title'>
    Title:
    <input type="text" name="title" value="" />
  </label><br>
  <label for='url'>
    URL:
    <input type="text" name="url" value="" />
  </label><br>
  <input type="submit" value="Add new link" />

</form>
