<h1> Signup </h1>

<form method="POST" action="/users">
  <label for='Email'>
    Email:
    <input type="text" name="email" value="" />
  </label><br>
  <label for='Password'>
    Password:
    <input type="password" name="password" value="" />
  </label><br>
  <input type="submit" value="Confirm" />
</form>
